.card {
  max-width: 45rem;
  font-family: sans-serif;
  border: 5px solid black;
  height: 60rem;
  overflow: hidden;
}

.card img {
  object-position: center center;
}
/* .avatar {
  position: relative;
}
.avatar img {
  object-position: center center;
} */
.skill-list {
  padding-left: 12px;
  padding-top: 20px;
  display: flex;
  gap: 30px;
}

.skill-list * {
  padding: 5px;
  border: 40px;
}
